.no-product {
  top: 100px;
}

.product-detail {
  margin-top: 200px;
  display: flex;
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 20px;
}

.product-image {
  flex: 1;
  margin-right: 40px;
}

.product-image img {
  width: 420px;
  height: 420px;
  object-fit: cover;
}

.product-info {
  flex: 1;
}

.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

.product-details {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.product-details li {
  margin-bottom: 5px;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart a {
  color: #fff;
  text-decoration: none;
}

.quantity-selector {
  display: flex;
}

.quantity-selector span {
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

.quantity-selector button {
  border-style: solid;
  font-size: 24px;
}

.loading,
.error,
.no-product {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}
