.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list-container {
  min-width: 800px;
  max-width: 1200px;
  margin: 45px;
  padding: 20px;

  justify-content: center;
}

.product-list-title {

  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.product-list {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style-type: none;
  place-items: center;
  padding: 0;
}

.product-item {
  width: 300px;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;

}

.product-item:hover {
  transform: translateY(-5px);
}

.product-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.product-link:hover {
  transform: translateY(-5px);
}

.product-image {
width: 100%;
height: 300px;
background-size: cover;
  object-fit: cover;
}

.product-name {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  color: #666;
}

.product-price {
  font-size: 10px;
  margin: 10px;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 50px;
}
